<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a book</h2>
            <!-- <form action="/book/searchByIsbn" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <input type="text"></input>
              </div> -->
              <!-- <button type="submit" class="btn btn-primary" value="Upload">Submit</button> -->
            <!-- </form> -->
          </div>
          <button id="bookLookUp">Book</button>
          <input type="text" placeholder="ISBN" name="isbn" id="inputIsbn">
  
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<script src='js/main.js'></script>

<%- include('partials/footer') -%>