<%- include('partials/header', {admin:true}) -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <!-- <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div> -->
          <div class="mt-5">
            <h2>Look for the Book</h2>
            <!-- <form action="/book/searchByIsbn" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <input type="text"></input>
              </div> -->
              <!-- <button type="submit" class="btn btn-primary" value="Upload">Submit</button> -->
            <!-- </form> -->
          </div>
          <button id="bookLookUpButton">Search</button>
          <input type="text" placeholder="ISBN" name="isbn" id="inputIsbn">
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <!-- <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>   -->
      </div>  

      <div class="container">
        <div class="row justify-content-center mt-5">
          <ul class="row list-unstyled">
              <li class="col-6 justify-content-between mt-5">
                <!--grabbing the object info from the data in the admin.js-->
                <p id="title"></p>
                <img id="image">
                <p id="author"></p>
                <p id="isbn10"></p>
                <p id="isbn13"></p>
                <p id="description"></p>
              </li>
            </ul>
        </div>
        <button id="addBook" class="hidden" method="POST">Add Book</button>
      </div>  
    </div>
  </div>
</div>
<script src='js/admin.js'></script>

<%- include('partials/footer') -%>

<!-- TODO// add in a seperate admin 'header' -->