<%- include('partials/header', {admin: admin}) -%>

<div class="container">
  <div class="row row-cols-lg-6">
    <% for(var i=0; i<books.length; i++) {%>
    <div class="col-lg">
      <div class="card border-light text-center">

        <div class="favorite-toogle-container favId" onclick="toggleFavorite('<%= books[i]._id%>')">
          <%if (books[i].favorite) { %>
            <i class="fas fa-heart favorite-toggle"></i>
          <% } else { %>
            <i class="far fa-heart favorite-toggle"></i>
          <% } %>
        </div>
        <div class="text-center">
          <img src="<%= books[i].image%>" class="bookcover" alt="book cover for <%= books[i].title%>">
        </div>
        <div class="card-body">
          <p class="card-text title"><%= books[i].title%></p>
          <p class="card-text author"><%= books[i].author%></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<script src="js/feed.js"></script>
<%- include('partials/footer') -%>

<!-- TODO create a render that takes feed.ejs to index.ejs  -->