<%- include('partials/header') -%>
<div class="container">
  <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
  <div class="row mt-5">
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<books.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
              <img class="img-fluid" src="<%= books[i].image%>">
              <span><%= books[i].title %></span>
              <span><%= books[i].author %></span>
              <!-- <span><%= books[i].description %></span> -->
              
          </li>
        <% } %>
        </ul>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>